<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

    <!--
        This and fs.default.name are the same.
        This must be set with an env var in production
    -->
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://CORE_SITE_FS_DEFAULTFS</value>
        <description>The name of the default file system.</description>
    </property>

</configuration>
